<form method="post" action="/members" class="member-form">
  <label for="name-field">Name:</label>
  <input type="text" name="name" id="name-field" required />
  <label for="premium">Membership:</label>
  <input type="radio" name="premium" value="t">Premium<br>
  <input type="radio" name="premium" value="f">Standard<br>
  <input type="submit" value="Add Member">
</form>