<h1><%= @member.name %></h1>

<p>Premium Membership: <%= @member.premium %></p>

<h3>Classes:</h3>
<ul>
  <% @member.gymclasses.each do |gymclass| %>
  <li><%= gymclass.name %></li>
  <% end %>
</ul>

<a href="/members/<%= @member.id %>/edit">Edit</a>
