<form method="post" action="/classes" class="gymclass-form">
  <label for="name-field">Name:</label>
  <input type="text" name="name" id="name-field" required />
  <label for="time">Time:</label>
  <input type="text" name="time" id="time-field" required />
  <label for="spaces">Spaces:</label>
  <input type="number" name="spaces" id="spaces" min="0" required/>
  <input type="submit" value="Add Class">
</form>