<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito|Rokkitt|Roboto+Slab" rel="stylesheet">
  <title>gym4all</title>
</head>
<body>
  <div class="header">
  </div>
  <main>
  <nav>
    <ul class="main-nav">
      <li <%= active_page?("classes") ? 'class="main-nav active"' : 'class="main-nav"' %>>
        <a href="/classes">Classes</a>
      </li>
      <li <%= active_page?("members") ? 'class="main-nav active"' : 'class="main-nav"' %>>
        <a href="/members">Members</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>