<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
  <title>gym4all</title>
</head>
<body>
  <div class="header">
  </div>
  <main>
  <nav>
    <ul>
      <li>
        <a href="/classes">Classes</a>
      </li>
      <li>
        <a href="/members">Members</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>