<!DOCTYPE html>
<html>
<head>
  <title>Gym4all</title>
</head>
<body>
<main>
  <nav>
    <ul>
      <li>
        <a href="/classes">Classes</a>
      </li>
      <li>
        <a href="/members">Members</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>