:root {
  /* --my-font-family-1: "Rokkitt"; */
  --my-font-family-1: "Oxygen";
  /* --my-font-family-1: "Nunito"; */
  --my-font-family-2: serif;
  --my-font-family-3: "Special Elite";
}

/* Header and logo */
.header {
  /* background:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("/images/logo.png") no-repeat fixed; */
  background:url("/images/logo_all_new.png") no-repeat left;
  background-color: #000000;
  padding: 1px;
  font-family: var(--my-font-family-3), var(--my-font-family-1);
  text-align: left;
  color: CornFlowerBlue;
  height: 90px;
  background-size: contain;
  background-position: 2%;
  padding: 5px 0px;
}

.header h1 {
  font-size: 3em;
}

/* Navigation menu bar */
ul.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 1.2em;
}

li.main-nav {
  float: left;
  font-family: var(--my-font-family-1), var(--my-font-family-2);
}

li.main-nav a {
  display: block;
  color: CornflowerBlue;
  text-align: center;
  padding: 0px 5px;
  text-decoration: none;
}

li.main-nav a:hover {
  background-color: #eeeeee;
}

.active {
  background-color: #dddddd;
}

/*  main page stylings */
body {
  /* background:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(https://i.pinimg.com/474x/59/6d/1c/596d1cc9beb820e51c14b55e40317a74--logo-design-hogwarts-logo-printable.jpg) no-repeat center fixed; */
  /* background-size: cover; */
  background-color: #dddddd;
}

html, body {
  font-family: var(--my-font-family-1), var(--my-font-family-2);
  margin: 0;
}

p {
  font-family: var(--my-font-family-1), var(--my-font-family-2);
}

.schedule-card {
  border: 1px solid LightSlateGrey;
  background: #eeeeee;
  text-align: left;
  margin: 0.2em 0.1em 0.4em 0.5em;
  padding: 0.5em;
  font-size: 1em;
}

.schedule-card-full {
  /* background: #ecf9f2; */
  /* background: #90EE90; */
  background: #66CDAA;
}

.schedule-card-ispeak {
  /* background: #fff5cc; */
  /* background: #FFA500; */
  background: #6495ED;
  /* background: #DDA0DD; */
}

.schedule-card-name {
  font-weight: bold;
  font-size: 1.2em
}

.schedule-card-peak {
  font-weight: bold;
  font-size: 0.8em;
}

.schedule-card a {
  text-decoration: none;
  color: Black;
}

/* Create seven equal columns that floats next to each other */
.schedule-column {
  float: left;
  width: 12%;
  padding: 0.1em;
  text-align: center;
}

/* Clear floats after the columns */
.schedule-grid:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a single column-layout instead of seven columns */
@media screen and (max-width: 600px) {
  .schedule-column  {
    width: 95%;
  }
}

.member-form, .gymclass-form {
  font-family: var(--my-font-family-1), var(--my-font-family-2);
  display: inline-block;
  width: 24em;
  margin: 0em 1em 0em 0.5em;
  border: 1px solid LightSlateGrey;
  background: #eeeeee;
  font-size: 1.1em;
  padding: 2px 2px;
  height: 7.2em;
}

.gymclass-form label, .member-form label{
  font-size: 1.2em;
}

.gymclass-form input[type="text"], input[type=datetime-local], input[type="number"] {
  font-size: 1em;
  width: 300px
}

.edit-gymclass-members select {
  margin: 0em 1em 0em 0.5em;
  font-size: 1em;
  width: 255px
}

.member-form input[type="text"] {
  font-size: 1em;
  width: 300px
}

.member-form input[type="radio"] {
  font-size: 1em;
  width: 50px
}

.gymclass-form button, .member-form button, .gymclass-form input[type="submit"], .member-form input[type="submit"]{
  text-align: center;
  padding: 2px 2px;
  margin: 0.5em;
  height: 1.6em;
  width: 7em;
  font-size: 1em;
  border: 1px solid LightSlateGrey;
  font-family: var(--my-font-family-1), var(--my-font-family-2);
}

.new-member-button, .new-gymclass-button {
  text-align: center;
  padding: 2px 2px;
  margin: 0.5em;
  height: 1.6em;
  width: 7em;
  font-size: 1em;
  border: 1px solid LightSlateGrey;
  font-family: var(--my-font-family-1), var(--my-font-family-2);
}

.remove-member-gymclass-button {
  text-align: center;
  padding: 0;
  margin: 0;
  height: 1.6em;
  width: 7em;
  font-size: 1em;
  border: 1px solid LightSlateGrey;
  font-family: var(--my-font-family-1), var(--my-font-family-2);
}

/* Member index */
.member-table, .gymclass-booking-member-table {
  width: 30em;
  border: 1px solid LightSlateGrey;
  background: #eeeeee;
  margin: 0 0.5em;
  padding: 0.3em;
  text-align: left;
}

.member-table th{
  font-size: 1.1em;
  background: #dddddd;
}

.member-table td{
  font-size: 1em;
}

.gymclass-booking-member-table {
  width: 27em;
}

.gymclass-booking-member-table td {
  height: 10px;
}

.gymclass-booking-member-table td:nth-child(2) {
  text-align: right;
}

.new-member-title, .edit-member-title, .new-gymclass-title, .edit-gymclass-title {
  margin: 0.3em 0.3em 0em 0.5em;
  padding: 2px;
  font-size: 1.5em;
}
