:root {
  /* --my-font-family-1: "Rokkitt"; */
  --my-font-family-1: "Nunito";
  --my-font-family-2: serif;
}

.schedule-card {
  border: 1px solid LightSlateGrey;
  background: #ffffff;
  text-align: center;
  margin: 0.2em;
  padding: 0.1em;
  font-size: 0.7em;
}

.schedule-card-full {
  background: #ff6347;
}

.schedule-card-name {
  font-weight: bold;
  font-size: 1.2em
}

.schedule-card-peak {
  font-weight: bold;
  font-size: 0.8em
}

.schedule-card a {
  text-decoration: none;
}

/* Create seven equal columns that floats next to each other */
.schedule-column {
  float: left;
  width: 12%;
  padding: 0.1em;
  text-align: center;
}

/* Clear floats after the columns */
.schedule-grid:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 600px) {
  .schedule-column  {
    width: 95%;
  }
}

body {
  /* background:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(https://i.pinimg.com/474x/59/6d/1c/596d1cc9beb820e51c14b55e40317a74--logo-design-hogwarts-logo-printable.jpg) no-repeat center fixed; */
  /* background-size: cover; */
  background-color: #dddddd;
}

html, body {
  font-family: var(--my-font-family-1), var(--my-font-family-2);
  margin: 0;
}

p {
  font-family: var(--my-font-family-1), var(--my-font-family-2);
}

.member-form, .gymclass-form {
  font-family: var(--my-font-family-1), var(--my-font-family-2);
  display: flex;
  flex-direction: column;
  width: 18em;
  margin: 2em;
  border: 1px solid DarkSlateGrey;
}

.member-form-name, .member-form-membership, .member-form-buttons {
  display: flex;
  flex-direction: row;
  margin: 0.5em;
  width: 17em;
}

.new-member-button, .new-class-button {
  text-align: center;
  padding: 2px 2px;
  margin: 1em 1em 0em 2em;
  height: 1.6em;
  width: 7em;
  font-size: 1em;
}

.member-table {
  width: 20em;
  border: 1px solid DarkSlateGrey;
  background: #ffffff;
  margin: 2em;
  padding: 0.2em;
  text-align: left;
}

.member-table td{
  font-size: 0.8em;
}

.header {
  /* background:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("/images/logo.png") no-repeat fixed; */
  background:url("/images/logo_black.png") no-repeat center;
  background-color: #000000;
  padding: 1px;
  text-align: center;
  height: 100px;
  background-size: 100px 100px;
}

ul.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li.main-nav {
  float: left;
  font-family: var(--my-font-family-1), var(--my-font-family-2);
}

li.main-nav a {
  display: block;
  color: CornflowerBlue;
  text-align: center;
  padding: 0px 5px;
  text-decoration: none;
}

li.main-nav a:hover {
  background-color: #eeeeee;
}

.active {
  background-color: #dddddd;
}



